asgiref==3.11.1
attrs==26.1.0
Django==6.0.6
django-debug-toolbar==7.0.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
flake8==7.3.0
flake8-bugbear==25.11.29
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
mccabe==0.7.0
pep8-naming==0.15.1
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.13.0
setuptools==82.0.1
sqlparse==0.5.5
